# local env files
.env
.env.local
.env.*.local

# Log files
*.log*

# Editor directories and files
.idea
.vscode

# sqllite
*.db

# docker
docker-compose.yml
docker-compose.shda.yml

# REST and HTTP
*.rest
*.http

# app specific
./coffeGBBackend
./apiserver